@model List<ASP.NET_CRUD_Operation_Project.Models.Domain.Employee>


@{
    ViewData["Title"] = "Employees";
}

<div class="container mt-5">
    <h1 class="text-center m-5">Employees</h1>
    <table class="table table-striped mb-5" style="background-color:beige; border-block-color:black;">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Date Of Joining</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                    <td>@employee.Department</td>
                    <td>@employee.Salary</td>
                    <td>@employee.DateOfJoining.ToString("dd-MM-yyyy")</td>
                    <td><a href="Employees/View/@employee.Id">View</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
       <button type="submit" onclick="window.location.href = '/Home'" class="btn btn-outline-dark">Back</button>
    </div>
</div>
